doctype html
html
  head
    title= title
    link(rel="stylesheet", href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css")
    link(rel="stylesheet", href="css/prism.css")
    link(rel="stylesheet", href="css/styles.css")
  body
    h1 #{title}
      a(href=repo, target="_blank", class="repo-link")
        i.fa.fa-github
    
    section
      include:md ../includes/destroy.md
    
    section
      include:md ../includes/getDatabase.md
    
    section
      include:md ../includes/qr.md
    
    section
      include:md ../includes/restrict.md
    
    section
      include:md ../includes/verify.md
    
    script(src="js/prism.js")
    script.
      // add 'language-javascript' to <code> blocks (some already have it)
      var codeBlocks = document.getElementsByTagName('code');
      for (var i = 0; i < codeBlocks.length; i++) {
        var block = codeBlocks[i];
        block.classList.add('language-javascript');
      }
      // add hover link to all sections
      var headings = document.getElementsByTagName('h3');
      for (var i = 0; i < headings.length; i++) {
        var heading = headings[i];
        var id = heading.getAttribute('id');
        var link = document.createElement('a');
        link.href = '#' + id;
        link.classList.add('link');
        link.innerHTML = '<i class="fa fa-link"></i>';
        heading.appendChild(link);
      }
      // highlight
      Prism.highlightAll();
